/* header */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #515151;
  line-height: 1.75rem;
}

.ravi-header a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}



/* Slides */

.slides-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Slide summary list */

@media (min-width: 800px) {
  .slide-summary {
    display: flex;
    justify-content: space-between;
  }
  .slide-summary .slide-image {
    width: 50%;
    margin-bottom: 0;
  }
  .slide-summary .slide-notes {
    width: 46%;
  }
}

.slide-summary {
  /* display:flex; */
  /* flex-wrap:wrap; */
  /* justify-content:space-between; */
  border-bottom: 1px solid #CCC;
  padding: 2em 0;
}

.slide-image img {
  width:100%;
  /* max-width:512px; */
  /* max-width:100%; */
  border-radius:5px;
  border: 2px solid rgba(0,0,0,0.1);
}

.slide-notes {
  /* max-width:496px; */
}

.slide-notes p {
  margin-block-start: 0;
}