/* Added by Ravi */

.slides-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slide-summary {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.slide-image img {
  width:100%;
  max-width:512px;
  border-radius:2px;
}

.slide-notes {
  max-width:496px;
}