body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #515151;
    line-height: 1.75rem;
}


/* Slides */

.slides-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Slide summary list */

@media (min-width: 800px)
.slide-summary {
    display: flex;
    justify-content: space-between;
}

.slide-summary {
  /* display:flex; */
  /* flex-wrap:wrap; */
  /* justify-content:space-between; */
  border-bottom: 1px solid #CCC;
  padding: 2em 0;
}

.slide-image img {
  width:100%;
  max-width:512px;
  border-radius:2px;
}

.slide-notes {
  max-width:496px;
}

.slide-notes p {
  margin-block-start: 0;
}